.engineaisection {
    height: 100vh;
   background: var(--engine-background);

    padding-top: 1rem;
}

.engineaisection--container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 3rem;

    font-family: var(--font-family);
    color: var(--engine-textcolor);
}

.engineaisection--container-mediainfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engineaisection--container-mediainfo-image {
    height: 60vh;
    /* width: 80vh; */
    background-color: white;
    margin-bottom: 10px;
}

.engineaisection--container-texts {
    width: 40vw;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 3rem;
    margin-right: 1rem;
}

/* header texts */
.engineaisection--container-texts--header {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
}

.engineaisection--container-texts--header-cppicon {
    margin-right: 4rem;
}

/* middle texts */
.engineaisection--container-texts--infotext {
    font-size: 1.2rem;
    text-align: justify;
}

/* check it out on github */
.engineaisection--container-texts--github {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    font-weight: bold;
}

.engineaisection--container-texts--github-green {
    color: var(--engine-pink);
    cursor: pointer;
}



/* responsivness */

 


@media screen and (max-width: 1400px) {
    .engineaisection--container-texts {
        width: 60vw;
        
    }
    .engineaisection--container-mediainfo-image {
        width: 85vh;
        height: auto;
    }
    
}   

@media screen and (max-width: 1300px) {
    .engineaisection--container-texts {
        width: 60vw;
        
    }
    .engineaisection--container-mediainfo-image {
        width: 50vw;
        height: auto;
    }
    

}  

@media screen and (max-width: 1000px){
    .engineaisection {
        height: auto;
    
    
    }

    .engineaisection--container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: ; */
        margin: 3rem;

    }

    .engineaisection--container-mediainfo-image {
        /* height: 50vh; */
        width: 80vw;
        background-color: white;
        margin-bottom: 30px;
    }

    .engineaisection--container-texts {
        align-items: center;
    }

    .engineaisection--container-texts--infotext {
        margin: 2rem;
    }
    
}
