@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-introduction: linear-gradient(132deg, rgba(5,12,38,1) 0%, rgba(60,98,126,1) 100%);
  --gradient-whatido: linear-gradient(41deg, rgba(42,90,90,1) 0%, rgba(70,246,246,1) 100%);
  --gradient-footer: linear-gradient(180deg, rgba(38,41,45,1) 0%, rgba(22,25,27,1) 100%);

  --gradient-introduction-text: linear-gradient(90deg, rgba(199,240,245,1) 0%, rgba(177,243,224,1) 100%);
  --gradient-jose-text: linear-gradient(90deg, rgba(88,160,191,1) 0%, rgba(85,239,193,1) 100%);

  --gradient-whatido-text: linear-gradient(270deg, rgba(31,66,96,1) 0%, rgb(62, 109, 119) 100%);

  /* about me */
  --aboutme-background: rgb(190,232,237);
  --aboutme-gradient: linear-gradient(42deg, rgba(190,232,237,1) 0%, rgba(208,250,255,1) 100%);

  --aboutme-darkblue: #1F4260;
  --aboutme-lightblue: #3F6F97;

  /* snake ai section */
  --snakeai-background: #294152;
  --snakeai-green: #4FBB7A;

  --snakeai-lightwhite: #D5E7E9;

  /* 3dengine section */
  --engine-background: #0E1011;
  --engine-pink: #BB5177;
  --engine-textcolor: #D5E7E9;

}



/* Keyframes animation */

.hidden {
  opacity: 0;
}

/* slideInLeft */
@keyframes slideInLeft {
  from {
      transform: translateX(-600px);
      opacity: 0;
      filter: blur(5px);
      
  }

  to {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0px);
  }
}

.slideInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
  animation-timing-function: ease-out;
}

/* slideInRight */
@keyframes slideInRight {
  from {
      transform: translateX(+600px);
      opacity: 0;
      filter: blur(5px);
      
  }

  to {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0px);
  }
}

.slideInRight {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-name: slideInRight;
  animation-timing-function: ease-out;
}

/* fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(6px); 
    /* transform: translateX(-100px); */
    
  }
  100% {
    opacity: 1;
    filter: blur(0); 
    /* transform: translateX(0px) */
    
  }
}

.fadeIn {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
}


