.stackContainer {
    background-color: #BBD9D9;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    /* justify-content: right; */
    
    /* align-self: right; */
    /* margin-left: 400px; */
    /* position: relative;
    /* right: 0; */
    /* bottom: 5rem;  */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;


}

.stackContainer img {
    height: 2.5rem;
}



@media only screen and (max-width:450px) {
    .stackContainer {
        /* padding: 0 ; */
        width: 80%;
        margin-top: 40%;
    }

    .stackContainer img {
        height: 2rem;
    }
}

@media only screen and (max-width: 410px) {
    .stackContainer {
        /* width: 80%; */
        margin-top: 10%;
    }
}